<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TNC 웹시스템</title>
    <style>
        h5 {
            display: block;
            font-size: 1.0em;
            margin-top: 0.01em;
            margin-bottom: 0.01em;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
        }
        h6 {
            display: block;
            font-size: 1.3em;
            em;
            margin-top: 0.1em;
            margin-bottom: 0.1em;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
          }
    </style>
</head>

<body>
    <div style="padding:1px;">
        <h5>
            TNC 웹시스템
            &nbsp;&nbsp;&nbsp;&nbsp;
            {% if user.is_authenticated %}
                {{ user }}님이 접속중입니다.
                <a href="{% url 'logout' %}">로그아웃</a>
            {% else %}
                <a href="{% url 'login' %}">로그인</a>

            {% endif %}
        </h5>
    </div>
            {% block content %}
            {% endblock %}
</body>
</html>
