
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TNC공용기관리시스템</title>
    <style>
        h5 {
            display: block;
            font-size: 1.0em;
            margin-top: 0.01em;
            margin-bottom: 0.01em;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
        }
    </style>
  
</head>

<body>
    <div style="padding:1px;"> <h5><a href="{% url 'main' %}">TNC 웹시스템</a></h5>
    <P>&nbsp;&nbsp;
        {% if user.is_authenticated %}
            {{ user }}님이 접속중입니다.
            <a href="{% url 'polls:logout' %}">로그아웃</a>
        {% else %}
            <a href="/polls/login">로그인</a>
        {% endif %}
    </p>
    <p>

        <a href="{% url 'polls:home' %}">메인화면</a>&nbsp;&nbsp;<a href="{% url 'polls:post_new' %}">작업입력</a>
        &nbsp;&nbsp;<a href="{% url 'polls:boxtrstock' %}">재고현황</a>
        &nbsp;&nbsp;<a href="{% url 'polls:boxtrstatus' %}">입출고내역</a>
        &nbsp;&nbsp;<a href="{% url 'polls:update_rbkb' %}">박스창고재고입력</a>
        </p>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
