<!DOCTYPE html>
<html>
<head>
    <title>QR Code Scanner</title>
    <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
</head>
<body>
    <h1>QR Code Scanner</h1>
    <div id="qr-reader" style="width: 600px"></div>
    <ul id="qr-data-list"></ul>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const qrDataList = document.getElementById("qr-data-list");
            const alarmAudio = new Audio('alarm.mp3'); // 알람 음원 파일

            var qrCode = new Html5Qrcode("qr-reader");

            qrCode.start(
                { facingMode: "environment" },
                {
                    fps: 10,
                },
                (qrCodeMessage) => {
                    // QR 코드가 스캔될 때 호출되는 콜백 함수
                    addToQRDataList(qrCodeMessage);
                    playAlarmSound(); // 알람 소리 재생
                },
                (errorMessage) => {
                    // 오류 발생 시 호출되는 콜백 함수
                    console.error(errorMessage);
                }
            );

            function addToQRDataList(data) {
                const listItem = document.createElement("li");
                listItem.textContent = data;
                qrDataList.appendChild(listItem);
            }

            function playAlarmSound() {
                // 알람 소리 재생
                alarmAudio.play();
            }
        });
    </script>
</body>
</html>
