<!DOCTYPE html>
{% extends 'polls/base.html' %}

{% block content %}

<H3>세척창고 입출고이력</H3>

    {% for boxtr_status in boxtr_status %}
       
        <P>{{ boxtr_status.id }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ boxtr_status.status }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ boxtr_status.truck }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ boxtr_status.arrival|default_if_none:"" }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ boxtr_status.wet }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ boxtr_status.qty }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ boxtr_status.box1 }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ boxtr_status.box1_qty|default_if_none:"" }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ boxtr_status.box2|default_if_none:"" }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ boxtr_status.box2_qty|default_if_none:"" }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ boxtr_status.box3|default_if_none:"" }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ boxtr_status.box3_qty|default_if_none:"" }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ boxtr_status.box4|default_if_none:"" }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ boxtr_status.box4_qty|default_if_none:"" }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ boxtr_status.box5|default_if_none:"" }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ boxtr_status.box5_qty|default_if_none:"" }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ boxtr_status.pub_date }}

        </P>
  
    {% endfor %}

{% endblock %}

