<!DOCTYPE html>
{% extends 'polls/base.html' %}

{% block content %}

<body>
    <h1>작업내용</h1>
    <p>작성자: {{ boxtr.truck }}</p>
    <p>작성일자: {{ boxtr.pub_date }}</p>
    <hr>

    <p>도착시간: {{boxtr.arrival }}</p>
    <p>침수여부: {{boxtr.wet }}</p>
    <hr>

    <p>박스명: {{boxtr.box1 }}&nbsp;&nbsp;&nbsp;{{boxtr.box1_qty }}&nbsp;p</p>
    <p>박스명: {{boxtr.box2 }}&nbsp;&nbsp;&nbsp;{{boxtr.box2_qty }}&nbsp;p</p>
    <p>박스명: {{boxtr.box3 }}&nbsp;&nbsp;&nbsp;{{boxtr.box3_qty }}&nbsp;p</p>
    <p>박스명: {{boxtr.box4 }}&nbsp;&nbsp;&nbsp;{{boxtr.box4_qty }}&nbsp;p</p>
    <p>박스명: {{boxtr.box5 }}&nbsp;&nbsp;&nbsp;{{boxtr.box5_qty }}&nbsp;p</p>
    
    <a href="{% url 'polls:edit' boxtr.id %}">수정하기</a>
    <a href="{% url 'polls:delete' boxtr.id %}">삭제하기</a>
</body>


{% endblock %}


