<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TNC공용기관리시스템</title>
  
</head>

<body>
    <div style="padding:20px;"> <h1>TNC 공용기관리시스템</h1>
    <h2><span style="color:#3EE900;">로그인</span></h2>
<form method="post" action="{% url 'polls:login' %}">
  {% csrf_token %}
  <div align='right' style="width:260px">
    <label>사용자ID</label>
    <input type="text" name="username" id="username">
  </div>
  <div align='right' style="width:260px">
    <label>비밀번호</label>
    <input type='password' name="password" id="password">
    
  </div>
  <pre>         <button type="submit">로그인</button></pre>
</form>


<a href="{% url 'polls:signup' %}">회원가입</a>
</div>
</body>
</html>
