<!DOCTYPE html>
{% extends 'polls/base.html' %}

{% block content %}

<body>
    <form action="{% url 'polls:create' %}" method="POST"> 
        {% csrf_token %} 
        <label for="title">제목</label>
        <input type="text" id="title" name="title">
        <br>
        <label for="writer">작성자</label>
        <input type="text" id="writer" name="writer">
        <br>
        <label for="body">내용</label>
        <textarea name="body" id="body" cols="30" rows="10"></textarea>
        <button type="submit">제출</button>
    </form>
</body>

{% endblock %}