<!DOCTYPE html>
<html lang="ko">
<head>
    <title>이미지 업로드</title>
</head>
<body>
    <h2>카메라로 사진 촬영</h2>
    <form action="{% url 'image_recognition:upload_image' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label for="image1">첫 번째 이미지:</label>
        <input type="file" accept="image/*" capture="camera" name="image1" required>
        <br><br>

        <label for="image2">두 번째 이미지:</label>
        <input type="file" accept="image/*" capture="camera" name="image2" required>
        <br><br>

        <button type="submit">업로드</button>
    </form>
</body>
</html>
