<!DOCTYPE html>
{% extends 'basei.html' %}
{% block content %}
    <div class="container">
        <h2>카메라로 사진 촬영</h2>
        <form action="{% url 'image_recognition:upload_image' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="image">사진 업로드:</label>
                <input type="file" accept="image/*" capture="camera" name="image" id="imageInput" required>
            </div>
                        
        <script>
            document.getElementById('uploadForm').addEventListener('submit', function() {
                setTimeout(() => {
                    document.getElementById('imageInput').value = ''; // 업로드 후 초기화
                }, 500);
            });
            </script>
            
            
            <button type="submit">업로드</button>
        </form>
    </div>

    {% endblock %}